# Dependency directory
node_modules/

# Next.js build output
.next/
out/

# Git folder
.git/
.gitignore

# Docker configuration files
Dockerfile
.dockerignore

# Readme/Documentation
README.md

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
